<template>
  <md-card class="form md-layout-item md-size-50 md-small-size-100">
    <md-card-content>
      <div class="md-layout md-gutter">
        <FormSchemaVueMaterial ref="formSchema" :schema="schema" v-model="model">
          <!--
          <el-button type="primary" @click="submit">Subscribe</el-button>
          <el-button @click="reset">Reset</el-button>
          -->
        </FormSchemaVueMaterial>
      </div>
    </md-card-content>
  </md-card>
</template>

<script>
  import FormSchemaVueMaterial from '../../..'

  export default {
    data: () => ({
      schema: Promise.resolve(require('../schema/newsletter')),
      model: {}
    }),
    methods: {
      submit (data) {
        console.log(data)
      },
      reset () {
        this.$refs.formSchema.form().resetFields()
      }
    },
    components: { FormSchemaVueMaterial }
  }
</script>

<style>
  .form {
    text-align: left;
    width: 600px;
    margin: auto;
  }

  h1 {
    font-size: 1.7em;
    text-align: center;
    margin-top: 0;
    margin-bottom: .2em
  }

  h1 + p {
    display: block;
    text-align: center;
    margin-bottom: 1.2em
  }

  small {
    line-height: 20px;
    display: block;
  }

  .md-alert {
    margin-bottom: 15px
  }
</style>
